
<body>

		<div class="page-header text-center">
		<h1>
			Brady H. Bostic
		</h1>
		<p>bradybostic@outlook.com</p>
		<p>501-781-1681</p>
		<p>3250 Pebble Beach Rd. Apt 6
		</div>
		<div class="row">
			<div class="col">
				<h2>Summary</h2>
				<p>Entry Level Software Developer with multiple levels of
					experience in various technologies; Including: Java, Linux, HTML,
					Maven, Eclipse IDE. Eagerly seeking a development position
					requiring a fastidious and efficient mind and skillset.</p>
					<br>
					<a href="http://www.linkedin.com/in/bradybostic" class="btn btn-info" role="button">Check out my LinkedIn</a>
					<br>
					<a href="https://github.com/BradyBostic01" class="btn btn-info" role="button">Github!</a>
					<br>
					<p>If you like this project and want a copy of my resume, just type in your email
						below and you will automatically be sent an email! Don't worry, I wont keep
						track of your email <i class="fas fa-smile"></i>
					<div class="form-group">
						<input type="email" class="form-control" ng-model="recipient" placeholder="supercoolguy@awesome.com">
						<button type="submit" class="btn btn-success form-control" ng-click="sendEmail()">Send!</button>
					</div>
			</div>
			<div class="col">
				<h3>Schooling and Experience</h3>
				<h3>High School: Conway High School</h3>
				<ul>
					<li>High School Diploma with 3.0 GPA</li>
					<li>Focus in Computer Engineering Systems and Java</li>
				</ul>
				<h3>
					College: <span
						title="University of Arkansas Community College at Morrilton">UACCM</span>
				</h3>
				<ul>
					<li>50 hours credit with focus in Computer Information Systems</li>
				</ul>
				<h3>Dominos</h3>
				<ul>
					<li>1.5 years tossing dough and baking pizzas</li>
				</ul>
				<h3>Lowes</h3>
				<ul>
					<li>3.5 years in Customer Service</li>
					<li>Experienced with online order systems and troubleshooting</li>
					<li>Experienced in stock systems management</li>
				</ul>
				
			</div>
			<div class="col">
				<h2>Skills</h2>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Technologies</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Java</th>
						</tr>
						<tr>
							<th>Linux</th>
						</tr>
						<tr>
							<th>Maven</th>
						</tr>
						<tr>
							<th>Git/Github</th>
						</tr>
						<tr>
							<th>Eclipse</th>
						</tr>
						<tr>
							<th>Tomcat</th>
						</tr>
						<tr>
							<th>AngularJS</th>
						</tr>
						<tr>
							<th>HTML</th>
						</tr>
						<tr>
							<th>Bootstrap</th>
						</tr>
						<tr>
							<th>MySQL</th>
						</tr>
						<tr>
							<th>R</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>